In [103]:
import pandas as pd
df = pd.read_csv('Aviation_Data.csv', low_memory=False)

In [104]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 90348 entries, 0 to 90347
Data columns (total 31 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Event.Id                88889 non-null  object
 1   Investigation.Type      90348 non-null  object
 2   Accident.Number         88889 non-null  object
 3   Event.Date              88889 non-null  object
 4   Location                88837 non-null  object
 5   Country                 88663 non-null  object
 6   Latitude                34382 non-null  object
 7   Longitude               34373 non-null  object
 8   Airport.Code            50132 non-null  object
 9   Airport.Name            52704 non-null  object
 10  Injury.Severity         87889 non-null  object
 11  Aircraft.damage         85695 non-null  object
 12  Aircraft.Category       32287 non-null  object
 13  Registration.Number     87507 non-null  object
 14  Make                    88826 non-null  object
 15  Model                   88797 non-null  object
 16  Amateur.Built           88787 non-null  object
 17  Number.of.Engines       82805 non-null  float64
 18  Engine.Type             81793 non-null  object
 19  FAR.Description         32023 non-null  object
 20  Schedule                12582 non-null  object
 21  Purpose.of.flight       82697 non-null  object
 22  Air.carrier             16648 non-null  object
 23  Total.Fatal.Injuries    77488 non-null  float64
 24  Total.Serious.Injuries  76379 non-null  float64
 25  Total.Minor.Injuries    76956 non-null  float64
 26  Total.Uninjured         82977 non-null  float64
 27  Weather.Condition       84397 non-null  object
 28  Broad.phase.of.flight   61724 non-null  object
 29  Report.Status           82505 non-null  object
 30  Publication.Date        73659 non-null  object
dtypes: float64(5), object(26)
memory usage: 21.4+ MB

In [105]:
df.describe()

,Number.of.Engines,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured
count,82805.000000,77488.000000,76379.000000,76956.000000,82977.000000
mean,1.146585,0.647855,0.279881,0.357061,5.325440
std,0.446510,5.485960,1.544084,2.235625,27.913634
min,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1.000000,0.000000,0.000000,0.000000,0.000000
50%,1.000000,0.000000,0.000000,0.000000,1.000000
75%,1.000000,0.000000,0.000000,0.000000,2.000000
max,8.000000,349.000000,161.000000,380.000000,699.000000

In [106]:
df.isnull().sum()

Event.Id                   1459
Investigation.Type            0
Accident.Number            1459
Event.Date                 1459
Location                   1511
Country                    1685
Latitude                  55966
Longitude                 55975
Airport.Code              40216
Airport.Name              37644
Injury.Severity            2459
Aircraft.damage            4653
Aircraft.Category         58061
Registration.Number        2841
Make                       1522
Model                      1551
Amateur.Built              1561
Number.of.Engines          7543
Engine.Type                8555
FAR.Description           58325
Schedule                  77766
Purpose.of.flight          7651
Air.carrier               73700
Total.Fatal.Injuries      12860
Total.Serious.Injuries    13969
Total.Minor.Injuries      13392
Total.Uninjured            7371
Weather.Condition          5951
Broad.phase.of.flight     28624
Report.Status              7843
Publication.Date          16689
dtype: int64

In [107]:
df.notna().sum()

Event.Id                  88889
Investigation.Type        90348
Accident.Number           88889
Event.Date                88889
Location                  88837
Country                   88663
Latitude                  34382
Longitude                 34373
Airport.Code              50132
Airport.Name              52704
Injury.Severity           87889
Aircraft.damage           85695
Aircraft.Category         32287
Registration.Number       87507
Make                      88826
Model                     88797
Amateur.Built             88787
Number.of.Engines         82805
Engine.Type               81793
FAR.Description           32023
Schedule                  12582
Purpose.of.flight         82697
Air.carrier               16648
Total.Fatal.Injuries      77488
Total.Serious.Injuries    76379
Total.Minor.Injuries      76956
Total.Uninjured           82977
Weather.Condition         84397
Broad.phase.of.flight     61724
Report.Status             82505
Publication.Date          73659
dtype: int64

THREE INSIGHTS:
-----AIRCRAFT WITH LOWEST ACCIDENT SEVERITY RATES -- (alr)
-----OPERATIONAL SAFETY STRATEGY OF AIRCRAFTS - MOST AND LEAST ACCIDENTS IN SPECIFIC WEATHER- PATTERN BTWN ACCIDENTS AND AIRCRAFT
-----PURPOSE OF FLIGHT - CARGO , PERSONAL ETC

In [108]:
##AIRCRAFT WITH LOWEST ACCIDENT SEVERITY RATES
low_accident_rate = ['Make', 'Model', 'Engine.Type', 'Number.of.Engines',
 'Injury.Severity', 'Aircraft.damage', 
 'Investigation.Type', 'Aircraft.Category','Total.Fatal.Injuries', 'Total.Serious.Injuries',
    'Total.Minor.Injuries', 'Total.Uninjured', 'Report.Status']
low_accident_rates = df[low_accident_rate]

In [109]:
low_accident_rates.head()

,Make,Model,Engine.Type,Number.of.Engines,Injury.Severity,Aircraft.damage,Investigation.Type,Aircraft.Category,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured,Report.Status
0,Stinson,108-3,Reciprocating,1.0,Fatal(2),Destroyed,Accident,NaN,2.0,0.0,0.0,0.0,Probable Cause
1,Piper,PA24-180,Reciprocating,1.0,Fatal(4),Destroyed,Accident,NaN,4.0,0.0,0.0,0.0,Probable Cause
2,Cessna,172M,Reciprocating,1.0,Fatal(3),Destroyed,Accident,NaN,3.0,NaN,NaN,NaN,Probable Cause
3,Rockwell,112,Reciprocating,1.0,Fatal(2),Destroyed,Accident,NaN,2.0,0.0,0.0,0.0,Probable Cause
4,Cessna,501,NaN,NaN,Fatal(1),Destroyed,Accident,NaN,1.0,2.0,NaN,0.0,Probable Cause

In [110]:
##PURPOSE OF FLIGHT RISKS
purpose_of_flight = ['Purpose.of.flight', 'Schedule', 'Investigation.Type']
purpose_of_flight_risk = df[purpose_of_flight]

In [111]:
purpose_of_flight_risk.head()

  Purpose.of.flight Schedule Investigation.Type
0          Personal      NaN           Accident
1          Personal      NaN           Accident
2          Personal      NaN           Accident
3          Personal      NaN           Accident
4          Personal      NaN           Accident

In [112]:
##OPERATIONAL SAFETY STRATEGY OF AIRCRAFTS
weather_flight_phase = ['Weather.Condition', 'Broad.phase.of.flight', 'Location', 'Country']
weather_flight_phase_risk = df[weather_flight_phase]

In [113]:
weather_flight_phase_risk.head()

  Weather.Condition Broad.phase.of.flight         Location        Country
0               UNK                Cruise  MOOSE CREEK, ID  United States
1               UNK               Unknown   BRIDGEPORT, CA  United States
2               IMC                Cruise    Saltville, VA  United States
3               IMC                Cruise       EUREKA, CA  United States
4               VMC              Approach       Canton, OH  United States

ANALYSIS OF LOW ACCIDENT RATES COLUMNS

In [114]:
##Determine unique values in report status which shows us stage of investigation
df['Report.Status'].value_counts(dropna=False)

Report.Status
Probable Cause                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        61754
NaN                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                    7843
Foreign                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                1999
<br /><br />                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            167
Factual                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                 145
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                      ...
The certified flight instructor's delayed remedial action and inadequate supervision during a practice autorotation. Contributing to the accident was the student pilot's excessive application of the throttle.                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                          1
The pilot's inadequate fuel management, which resulted in a loss of engine power due to fuel starvation.                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                  1
Sundance Helicopters inadequate maintenance of the helicopter, including (1) the improper reuse of a degraded self-locking nut, (2) the improper or lack of installation of a split pin, and (3) inadequate postmaintenance inspections, which resulted in the in-flight separation of the servo control input rod from the fore/aft servo and rendered the helicopter uncontrollable. Contributing to the improper or lack of installation of the split pin was the mechanics fatigue and the lack of clearly delineated maintenance task steps to follow. Contributing to the inadequate postmaintenance inspection was the inspectors fatigue and the lack of clearly delineated inspection steps to follow.        1
The total loss of engine power for reasons that could not be determined because postaccident examination of the airframe and engine did not reveal evidence of preaccident mechanical malfunctions or failures that would have precluded normal operation.                                                                                                                                                                                                                                                                                                                                                                                                                                                                1
The pilots loss of control due to a wind gust during landing.                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            1
Name: count, Length: 17007, dtype: int64

In [115]:
##percentage of null values in injury severity
to = len(df['Injury.Severity'])
print((df['Injury.Severity'].isnull().sum() / to)*100)
print(to)

2.7216983220436535
90348

In [116]:
df['Injury.Severity'].value_counts(dropna=False)

Injury.Severity
Non-Fatal     67357
Fatal(1)       6167
Fatal          5262
Fatal(2)       3711
NaN            2459
              ...
Fatal(80)         1
Fatal(217)        1
Fatal(169)        1
Fatal(88)         1
Fatal(189)        1
Name: count, Length: 110, dtype: int64

In [117]:
##percentage of null values in aircraft damage
tl = len(df['Aircraft.damage'])
print((df['Aircraft.damage'].isnull().sum() / tl)*100)
print(tl)

5.150086332846328
90348

In [118]:
df['Aircraft.damage'].value_counts(dropna=False)

Aircraft.damage
Substantial    64148
Destroyed      18623
NaN             4653
Minor           2805
Unknown          119
Name: count, dtype: int64

In [119]:
##percentage of null values in aircaft category
tt = len(df['Aircraft.Category'])
print((df['Aircraft.Category'].isnull().sum() / tt)*100)
print(tt)

64.26373577721698
90348

In [120]:
df['Aircraft.Category'].value_counts(dropna=False)
df['Engine.Type'].value_counts(dropna=False)

Engine.Type
Reciprocating      69530
NaN                 8555
Turbo Shaft         3609
Turbo Prop          3391
Turbo Fan           2481
Unknown             2051
Turbo Jet            703
Geared Turbofan       12
Electric              10
LR                     2
NONE                   2
Hybrid Rocket          1
UNK                    1
Name: count, dtype: int64

In [121]:
##we need these columns in order to infer aircraft category. we filter and keep null values to work with
fill_null_air_cat = df[['Make', 'Model', 'Engine.Type', 'Number.of.Engines', 'Aircraft.Category']]

fill_null_air_cat = fill_null_air_cat[fill_null_air_cat['Aircraft.Category'].isna()]
fill_null_air_cat

,Make,Model,Engine.Type,Number.of.Engines,Aircraft.Category
0,Stinson,108-3,Reciprocating,1.0,NaN
1,Piper,PA24-180,Reciprocating,1.0,NaN
2,Cessna,172M,Reciprocating,1.0,NaN
3,Rockwell,112,Reciprocating,1.0,NaN
4,Cessna,501,NaN,NaN,NaN
...,...,...,...,...,...
90342,AIR TRACTOR,AT502,NaN,NaN,NaN
90343,PIPER,PA-28-151,NaN,NaN,NaN
90344,BELLANCA,7ECA,NaN,NaN,NaN
90346,CESSNA,210N,NaN,NaN,NaN
90347,PIPER,PA-24-260,NaN,NaN,NaN

In [122]:
#cant deduce aircraft category without both enginetype and number of engines hnce need to drop missing values in those 2 columns
can_fill_air_cat = fill_null_air_cat.dropna(subset=['Engine.Type', 'Number.of.Engines'])

In [123]:
#cant deduce aircraft category without both enginetype and number of engines hnce need to drop missing values in those 2 columns
can_fill_air_cat = fill_null_air_cat.dropna(subset=['Engine.Type', 'Number.of.Engines'])
fill_groups = can_fill_air_cat.groupby('Make')## Grouping aircrafts accordingto their make
fill_groups_df = fill_groups.apply(lambda x:x)
fill_groups_df.to_csv("aircraft groups per make")

#print(fill_groups.groups)
#can_fill_air_cat.to_csv("filling null aircraft category")

In [124]:
# Lowercase and strip spaces for consistency
df['Engine.Type'] = df['Engine.Type'].astype(str).str.lower().str.strip()

# Create confidence column
df['Category.Confidence'] = 'Low'

# Mapping engine type → category
engine_to_category = {
    'reciprocating': 'Airplane',
    'turbo shaft': 'Helicopter',
    'turboshaft': 'Helicopter',
    'turbo prop': 'Airplane',
    'turboprop': 'Airplane',
    'turbo fan': 'Airplane',
    'turbofan': 'Airplane',
    'turbo jet': 'Airplane',
    'turbojet': 'Airplane',
    'geared turbofan': 'Airplane',
    'electric': 'Airplane',
    'hybrid rocket': 'Rocket'
}


# Apply rules
for key, value in engine_to_category.items():
    mask = df['Engine.Type'].str.contains(key, na=False)
    df.loc[mask & df['Aircraft.Category'].isna(), 'Aircraft.Category'] = value
    df.loc[mask, 'Category.Confidence'] = 'High'

# Mark clearly unknown cases
unknown_mask = df['Engine.Type'].str.contains('unknown|unk|none|lr', na=False)
df.loc[unknown_mask & df['Aircraft.Category'].isna(), 'Aircraft.Category'] = 'Unknown'
df.loc[unknown_mask, 'Category.Confidence'] = 'Low'

In [128]:
new_air_cat = df[['Make', 'Model', 'Engine.Type', 'Number.of.Engines', 'Aircraft.Category']]
new_air_cat

,Make,Model,Engine.Type,Number.of.Engines,Aircraft.Category
0,Stinson,108-3,reciprocating,1.0,Airplane
1,Piper,PA24-180,reciprocating,1.0,Airplane
2,Cessna,172M,reciprocating,1.0,Airplane
3,Rockwell,112,reciprocating,1.0,Airplane
4,Cessna,501,nan,NaN,NaN
...,...,...,...,...,...
90343,PIPER,PA-28-151,nan,NaN,NaN
90344,BELLANCA,7ECA,nan,NaN,NaN
90345,AMERICAN CHAMPION AIRCRAFT,8GCBC,nan,1.0,Airplane
90346,CESSNA,210N,nan,NaN,NaN
90347,PIPER,PA-24-260,nan,NaN,NaN

In [126]:
#null aircraft categories that will be dropped
missing_df = df[df['Aircraft.Category'].isna()]

missing_df['Make'].value_counts().head(30)

Make
Cessna                  215
Boeing                  177
BOEING                  106
Piper                    99
Bell                     52
CESSNA                   52
Robinson                 49
Beech                    46
Schweizer                33
PIPER                    32
Mcdonnell Douglas        26
Airbus Industrie         23
BEECH                    21
Schleicher               20
Aerostar                 16
ROBINSON                 15
Burkhart Grob            13
Let                      13
Hughes                   11
AIRBUS                   11
Schempp-hirth            11
Sikorsky                 10
BELL                     10
Cameron Balloons          9
SIKORSKY                  7
AIR TRACTOR               7
Airbus                    7
British Aerospace         7
DE HAVILLAND              6
Gulfstream Aerospace      6
Name: count, dtype: int64

#Aircraft Category was missing in 38% of records. Engine type rules filled ~95% with high confidence. Remaining low-information rows were labeled as Unknown

In [130]:
df_cleaned = df.dropna(subset=['Aircraft.Category']).copy()
df_cleaned['Aircraft.Category'].isna().sum()

0

In [134]:
df['Aircraft.Category'].value_counts()

Aircraft.Category
Airplane             78609
Helicopter            5717
Unknown               1810
Glider                 508
Balloon                231
Gyrocraft              173
Weight-Shift           161
Powered Parachute       91
Ultralight              30
WSFT                     9
Powered-Lift             5
Blimp                    4
UNK                      2
Rocket                   1
ULTR                     1
Name: count, dtype: int64

In [135]:
df.columns

Index(['Event.Id', 'Investigation.Type', 'Accident.Number', 'Event.Date',
       'Location', 'Country', 'Latitude', 'Longitude', 'Airport.Code',
       'Airport.Name', 'Injury.Severity', 'Aircraft.damage',
       'Aircraft.Category', 'Registration.Number', 'Make', 'Model',
       'Amateur.Built', 'Number.of.Engines', 'Engine.Type', 'FAR.Description',
       'Schedule', 'Purpose.of.flight', 'Air.carrier', 'Total.Fatal.Injuries',
       'Total.Serious.Injuries', 'Total.Minor.Injuries', 'Total.Uninjured',
       'Weather.Condition', 'Broad.phase.of.flight', 'Report.Status',
       'Publication.Date', 'Category.Confidence'],
      dtype='object')

In [ ]:
total_casualties = (
    df['Total.Fatal.Injuries'].fillna(0) + ##fill null values with 0 to avoid getting NaN during addition
    df['Total.Serious.Injuries'].fillna(0) +
    df['Total.Minor.Injuries'].fillna(0) +
    df['Total.Uninjured'].fillna(0)
)
df['Total.Casualties'] = total_casualties
aircraft_accident_rates =df[['Aircraft.Category','Injury.Severity','Aircraft.damage', 'Total.Casualties']]
aircraft_accident_rates

      Aircraft.Category Injury.Severity Aircraft.damage  Total.Casualties
0              Airplane        Fatal(2)       Destroyed               2.0
1              Airplane        Fatal(4)       Destroyed               4.0
2              Airplane        Fatal(3)       Destroyed               3.0
3              Airplane        Fatal(2)       Destroyed               2.0
4                   NaN        Fatal(1)       Destroyed               3.0
...                 ...             ...             ...               ...
90343               NaN           Minor             NaN               1.0
90344               NaN             NaN             NaN               0.0
90345          Airplane       Non-Fatal     Substantial               1.0
90346               NaN             NaN             NaN               0.0
90347               NaN           Minor             NaN               2.0

[90348 rows x 4 columns]

In [ ]:
#evaluating total casualties 
total_casualty_csv = df['Total.Casualties'].to_csv('Casualties', index=False)
df['Total.Casualties'].unique()
df['Total.Casualties'].value_counts().sort_index()
df['Total.Casualties'].describe()

count    90348.000000
mean         5.987349
std         27.630006
min          0.000000
25%          1.000000
50%          2.000000
75%          2.000000
max        699.000000
Name: Total.Casualties, dtype: float64

In [188]:
## evaluating casualties per category
accidents_by_category = aircraft_accident_rates.groupby('Aircraft.Category').size()#accident count
avg_casualties = aircraft_accident_rates.groupby('Aircraft.Category')['Total.Casualties'].mean()#average casualties per category
max_casualties = aircraft_accident_rates.groupby('Aircraft.Category')['Total.Casualties'].max()#max casualties per category
min_casualties = aircraft_accident_rates.groupby('Aircraft.Category')['Total.Casualties'].min()#min casualties per category
df['HasCasualties'] = df['Total.Casualties'] > 0

casualties_percentage = (
    df
    .groupby('Aircraft.Category')['HasCasualties']
    .mean() * 100
)

casualties_percentage
#max_casualties
#avg_casualties 
#accidents_by_category

Aircraft.Category
Airplane              98.806752
Balloon              100.000000
Blimp                100.000000
Glider                99.803150
Gyrocraft            100.000000
Helicopter            98.723107
Powered Parachute    100.000000
Powered-Lift          40.000000
Rocket               100.000000
ULTR                 100.000000
UNK                    0.000000
Ultralight           100.000000
Unknown               97.016575
WSFT                 100.000000
Weight-Shift         100.000000
Name: HasCasualties, dtype: float64

In [ ]:
damage_dist = aircraft_accident_rates.groupby(['Aircraft.Category', 'Aircraft.damage']).size().unstack(fill_value=0)
damage_dist_percentage = aircraft_accident_rates.groupby(['Aircraft.Category', 'Aircraft.damage']).size().groupby(level=0).apply(lambda x: (x /x.sum())*100).unstack(fill_value=0)
damage_dist_percentage

,Aircraft.damage,Destroyed,Minor,Substantial,Unknown
Aircraft.Category,Aircraft.Category,,,,
Airplane,Airplane,21.430351,3.121599,75.316945,0.131105
Balloon,Balloon,11.111111,33.333333,55.555556,0.000000
Blimp,Blimp,25.000000,0.000000,75.000000,0.000000
Glider,Glider,7.128713,1.782178,90.693069,0.396040
Gyrocraft,Gyrocraft,14.450867,0.578035,84.971098,0.000000
Helicopter,Helicopter,22.098854,1.987822,75.644699,0.268625
Powered Parachute,Powered Parachute,4.545455,11.363636,84.090909,0.000000
Powered-Lift,Powered-Lift,25.000000,25.000000,50.000000,0.000000
Rocket,Rocket,100.000000,0.000000,0.000000,0.000000
ULTR,ULTR,0.000000,0.000000,100.000000,0.000000
UNK,UNK,0.000000,0.000000,0.000000,100.000000
Ultralight,Ultralight,17.241379,0.000000,82.758621,0.000000
Unknown,Unknown,29.503106,6.211180,64.285714,0.000000
WSFT,WSFT,11.111111,0.000000,88.888889,0.000000
Weight-Shift,Weight-Shift,5.000000,0.625000,94.375000,0.000000

In [177]:
##injury severity per gorup
severity_dist = aircraft_accident_rates.groupby(['Aircraft.Category', 'Injury.Severity']).size().unstack(fill_value=0)
severity_dist_percentage = aircraft_accident_rates.groupby(['Aircraft.Category', 'Injury.Severity']).size().groupby(level=0).apply(lambda x: (x /x.sum())*100).unstack(fill_value=0)
severity_dist_percentage

,Injury.Severity,Fatal,Fatal(1),Fatal(10),Fatal(107),Fatal(11),Fatal(110),Fatal(111),Fatal(113),Fatal(12),Fatal(123),...,Fatal(189),Fatal(229),Fatal(33),Fatal(47),Fatal(52),Fatal(56),Fatal(72),Fatal(75),Fatal(80),Fatal(87)
Aircraft.Category,Aircraft.Category,,,,,,,,,,,,,,,,,,,,,
Airplane,Airplane,5.462212,7.116687,0.024425,0.001286,0.005142,0.001286,0.001286,0.001286,0.007713,0.001286,...,0.00000,0.00000,0.00000,0.00000,0.000000,0.00000,0.00000,0.00000,0.00000,0.000000
Balloon,Balloon,6.493506,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.00000,0.00000,0.00000,0.00000,0.000000,0.00000,0.00000,0.00000,0.00000,0.000000
Blimp,Blimp,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.00000,0.00000,0.00000,0.00000,0.000000,0.00000,0.00000,0.00000,0.00000,0.000000
Glider,Glider,15.157480,1.771654,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.00000,0.00000,0.00000,0.00000,0.000000,0.00000,0.00000,0.00000,0.00000,0.000000
Gyrocraft,Gyrocraft,19.653179,1.156069,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.00000,0.00000,0.00000,0.00000,0.000000,0.00000,0.00000,0.00000,0.00000,0.000000
Helicopter,Helicopter,12.139444,5.149531,0.017696,0.000000,0.000000,0.000000,0.000000,0.000000,0.017696,0.000000,...,0.00000,0.00000,0.00000,0.00000,0.000000,0.00000,0.00000,0.00000,0.00000,0.000000
Powered Parachute,Powered Parachute,14.285714,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.00000,0.00000,0.00000,0.00000,0.000000,0.00000,0.00000,0.00000,0.00000,0.000000
Powered-Lift,Powered-Lift,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.00000,0.00000,0.00000,0.00000,0.000000,0.00000,0.00000,0.00000,0.00000,0.000000
Rocket,Rocket,100.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.00000,0.00000,0.00000,0.00000,0.000000,0.00000,0.00000,0.00000,0.00000,0.000000
ULTR,ULTR,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.00000,0.00000,0.00000,0.00000,0.000000,0.00000,0.00000,0.00000,0.00000,0.000000
Ultralight,Ultralight,23.333333,3.333333,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.00000,0.00000,0.00000,0.00000,0.000000,0.00000,0.00000,0.00000,0.00000,0.000000
Unknown,Unknown,0.332042,9.297178,0.442723,0.000000,0.332042,0.000000,0.000000,0.055340,0.055340,0.000000,...,0.05534,0.05534,0.05534,0.05534,0.110681,0.05534,0.05534,0.05534,0.05534,0.110681
WSFT,WSFT,66.666667,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.00000,0.00000,0.00000,0.00000,0.000000,0.00000,0.00000,0.00000,0.00000,0.000000
Weight-Shift,Weight-Shift,33.540373,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.00000,0.00000,0.00000,0.00000,0.000000,0.00000,0.00000,0.00000,0.00000,0.000000